<html lang="en">
<head>
    <title>Виды топлива</title>
    <link rel="stylesheet" href="/static/styles/index_style.css">
</head>
<header>
    <h1>
        <a href="/hello"><img src="/static/img/image.jpg" alt="home"></a>
    </h1>
</header>
    <form action="/hello" method="GET">
        <input type="text" name="query" placeholder="Введите запрос" value="{{ .query }}">

        <button type="submit">Найти</button>
    </form>
    <h1>
        {{ .time }}
    </h1>
    <ul>
        {{ range .orders }}
        <li>
            <a href="/order/{{ .ID}}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
</html>