<html lang="en">
<head>
    <title>Расчет энергии</title>
    <link rel="stylesheet" href="/static/styles/mainpage.css">
    <link rel="stylesheet" href="/static/styles/universal.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <div class="myHeader">
        <div class="myHeaderPanel">
            <div class="myHeaderPanelFrame">
                <div class="panelFrameServ1">
                    <img class="logoImage" src="http://127.0.0.1:9000/ripimages/photo.png" alt="logo">
                </div>
                <div class="panelFrameServ2">
                    <a href="/fuels">
                        <button class="bButton">
                            Домой
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="headerServ1">
            Расчет энергии сгорания топлива
        </div>
        <div class="headerServ2">
            Расчет количества теплоты в кДж, выделившихся при полном сгорании топлива при н.у.
        </div>
    </div>
</header>

<div class="contentAll">
    <div class="searchTitle">
        <div class="searchBlankFrame"></div>
        <div class="searchTitleFrame">
            Топливо

            <form action="/fuels" method="get">
                <div class="searchContainer">
                    <input type="text" name="searchQuery" value="{{ .searchQuery }}" placeholder="Введите название" class="searchString"/>
                    <button type="submit" class="bButton" style="height: 50px">Найти</button>
                </div>
            </form>


        </div>
        <div class="buckFrame">
            {{ if ne .cart_count 0 }}
            <a href="/req/{{ .reqID }}">
                {{ end }}
                <button class="buttonBuck">
                    <img src="http://127.0.0.1:9000/ripimages/korzinaGPORENIE.png" alt="button">
                    {{ if ne .cart_count 0 }}
                    <div class="circleBuck">
                        {{ .cart_count }}
                    </div>
                </button>
            </a>
            {{ end }}
        </div>
    </div>
    <div class="content">
        {{ range .fuels }}
        <div class="card" style="background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) , url({{ .CardImage }}) center/cover no-repeat;*/">
            <div class="cardTop">
                <div class="cardTitle">
                    {{ .Title }}
                </div>
                <div class="cardButton">
                    <a href="/fuel/{{ .ID}}">
                        <button class="bButton" style="width: 100%">
                            Подробнее   >
                        </button>
                    </a>
                    <form action="/add-to-cart" method="post">
                        <input type="hidden" name="fuel_id" value="{{ .ID }}">
                        <button class="wButton" style="width: 100%">
                            Добавить
                        </button>
                    </form>
                </div>
            </div>
            <div class="cardBottom">
                {{ .Heat }} МДж/кг
            </div>
        </div>
        {{ end }}
    </div>
</div>

<div class="footer">
    <img class="logoImage" src="http://127.0.0.1:9000/ripimages/photo.png" alt="logo">
    Расчет энергии сгорания топлива
</div>

</body>
</html>


